@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}
<div class="jumbotron">
    <h1>.NET 💜 Azure</h1>
    <p>Your Name: <strong>Shashi Preetham Gajji</strong></p>
    <p>Student ID: <strong>500237051</strong></p>
    <p class="lead">Example .NET app to Azure App Service.</p>
</div>
